extends layout

block content
  h1= title

  ul
    table(style=border='1')
      tr 
        th Book Copies
        th Publisher
        th Booking Detail
        th Due Date
        each val in bookinstance_list
          tr
            td
              a(href=val.url) #{val.book.title} 
            td #{val.imprint}  
            td
              if val.status=='Available'
                span.text-success #{val.status}
              else if val.status=='Maintenance'
                span.text-danger #{val.status}
              else
                span.text-warning #{val.status}
            td 
              if val.status!='Available'
                | #{val.due_back_formatted} 
              else 
                p NO DUE
                

        else
          li There are no book copies in this library
